@import '../variable';
@import '../mixin';
.section {
    // position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
}
.sticky {
    top: 0;
}

// Responsive
@include responsive(md) {
}