// Fonts Size
h1 {font-size: rem(45);}
h2 {font-size: rem(26);}
h3 {font-size: rem(22);}
h4 {font-size: rem(18);}
h5, .h5 {font-size: rem(16);}
h6 {font-size: rem(14);}
p {font-size: rem(16);}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-success {color: $success;}
.text-danger {color: $danger;}
.text-warning {color: $warning;}
.text-info {color: $info;}
.text-minute {color: $color2;}
.position-relative {position: relative;}

// Width css
.w-100 {
	width: 100%;
}

// Height SCSS
.min-h100 {
	min-height: 100vh;
}
.h-100 {
    height: 100%;
}

.container {
    width: rem(960);
    max-width: 100%;
    padding-left: rem(15);
    padding-right: rem(15);
    margin-left: auto;
    margin-right: auto;
}
.app-main, header, footer, section {
    width: 100%;
    max-width: 100%;
    @extend %felx-wrap;
}
.ml-auto {
    margin-left:auto;
}

// Responsive
@include responsive(md) {
    // Fonts Size
    h1 {font-size: rem(30);}
    h2 {font-size: rem(22);}
    h3{font-size: rem(18);}
    h4 {font-size: rem(17);}
    h5, .h5 {font-size: rem(15);}
    h6 {font-size: rem(14);}
    p {font-size: rem(15);}
    body {font-size: rem(15);}
}